body {
  font-family: Arial, sans-serif;
  background: #f9cec6;
  margin: 0;
  text-align: center;
}

h1 {
  margin: 20px 0;
  color: #000000;
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}


/* Filter Buttons */
.filters button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  background: #3e0202;
  color: rgb(255, 230, 230);
  cursor: pointer;
  border-radius: 5px;
}

.filters button:hover {
  background: #000000;
}

/* Gallery Layout */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 20px;
}

.gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover Effect */
.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(123, 0, 247, 0.956);
}

/* Lightbox */
#lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

#lightbox-img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
}

/* Close Button */
#close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 35px;
  color: rgb(255, 243, 243);
  cursor: pointer;
}

/* Navigation Buttons */
#prev, #next {
  position: absolute;
  background: none;
  color: rgb(255, 255, 255);
  font-size: 40px;
  border: none;
  cursor: pointer;
}

#prev { left: 30px; }
#next { right: 30px; }

/* Responsive */
@media (max-width: 600px) {
  .gallery img {
    height: 150px;
  }
}
